/* Global */
* {
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21.6px;
  padding: 0;
  margin: 0;
  color: #222;
  background-color: #fefefe;
}

/* Container */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  padding: 0px 20px;
  margin: 0 auto;
}


.hero {
  width: 600px;
  height: 782px;
  background-image: url(../img/travel-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  .hero {
    background-image: url(../img/travel-bg@2x.jpg);
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  width: 285px;
  margin: 326px auto;
}

.hero-title {
  font-size: 24px;
  line-height: 28.8px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  color: #fff;
}

.top-blogs-button {
  width: 164px;
  background-color: #1e90ff;
  color: #fff;
  border: 0;
  padding: 0;
  margin: 0;
}

.top-blogs-button:hover {
  background-color: #1e90ff;
  opacity: 0.8;
}

.top-blogs-button:active {
  background-color: #1e90ff;
  opacity: 0.6;
}

.top-blogs-button-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 23px;
}

.top-blogs-button-icon {
  width: 20px;
  height: 19px;
  margin-right: 12px;
}

.top-blogs-button-text {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
}

section {
  display: flex;
  align-items: start;
  flex-direction: column;
  display: inline-block;
  width: 600px;
  height: 782px;
  margin: 0 auto;
  padding-top: 54px;
  background-color: #fefefe;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 492px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.sidebar-title {
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 28.8px;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 24px;
}

.horizontal-dvider {
  display: flex;
  align-items: center;
  width: 492px;
  height: 1px;
  color: #999;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.blog-lists {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.blog-lists:not(:last-child) {
  margin-bottom: 10px;
}

.blog-list-img {
  width: 160px;
  height: 90px;
  border-radius: 4px;
  margin-right: 16px;
}

.article-card-horizontal-content {
  display: flex;
  flex-direction: column;
}

.article-card-horizontal-title {
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}

.article-card-horizontal-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
  margin: 0;
  padding: 0;
}

.article-card-horizontal-link:hover {
  color: #1e90ff;
  opacity: 0.8;
}

.article-card-horizontal-link:active {
  color: #1e90ff;
  opacity: 0.6;
}

.article-card-horizontal-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: start;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.article-card-horizontal-footer-content:not(:last-child) {
  margin-right: 24px;
}

.footer-img {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.article-card-horizontal-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.clock-text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 16.41px;
  color: #888;
  margin: 0;
}

.visiblity-text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 16.41px;
  color: #666;
  margin: 0;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 492px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #1e90ff;
}

.sidebar-link:hover {
  color: #1e90ff;
  opacity: 0.8;
}

.sidebar-link:active {
  color: #1e90ff;
  opacity: 0.6;
}

.sidebar-link-text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  padding: 12px 0;
}